// graycale - dark (8)
$cc-regblack:   #000000;
$cc-darkgray:   #232120;
$cc-smokyblack: #0F0D0D;
$cc-jet:        #32323E;

// fraycale - light (8)
$cc-regwhite:   #ffffff;
$cc-platinum:   #E1E1E1;
$cc-lightgray:  #D1D1D1;
$cc-pastelgray: #CACACA;

// accents (upto 15)
$cc-silverSand:   #B9D8C2;
$cc-greenwhite:   #DFF3E4;
$cc-paleCerulean: #9AC2C9;
$cc-glaucous:     #7180B9;
$cc-quicksilver:  #9FA4A9;
$cc-darkPink:     #990D35;
$cc-davyGrey:     #57545F;
$cc-turquoise:    #42F2F7;
$cc-LightGreen:   #97C95A;
$cc-Aquamarine:   #5DD9C1;
$cc-indepedance:  #554971;
$cc-shadow:       #837569;
$cc-indepedance1: #444B6E;
$cc-navyPurple :  #3F577F;
$cc-silverChalice:#AAADBD;